@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>人員基本資料 - 刪除</h2>

<div>
    <div style="display: inline;"><a href="@Url.Action("Index", "Home")"><button>上一頁</button></a></div>
    <div style="display: inline;"><button id="delete-employee-info">刪除</button></div>
    <div style="display: inline;"><button id="clear-employee-info">清除</button></div>
</div>

<br />
<hr />
<br />

<table>
    <tr>
        <th>身份證字號</th>
        <td>
            <input type="text" id="employee-id-no" placeholder="請輸入欲刪除使用者之身分字號" />
        </td>
    </tr>
</table>

@section Scripts {
    <script>

        var $id = $('#employee-id-no');
        var $delete = $('#delete-employee-info');
        var $clear = $('#clear-employee-info');

        function deleteEmployee() {
            $.ajax({
                type: "POST",
                url: deleteEmployeeUrl,
                dataType: "json",
                data: {
                    employeeInfo: {
                        IdentityNo: $id.val()
                    }
                },
                success: function (response) {
                    if (!response.isSuccess) {
                        alert('刪除作業失敗!');
                        return;
                    }

                    alert('刪除作業成功!');
                },
                error: function (thrownError) {
                    console.log(thrownError);
                }
            });
        }

        function clear() {
            $id.val('');
            $name.val('');
        }

        $(document).ready(function () {
            $delete.off('click').on('click', deleteEmployee);
            $clear.off('click').on('click', clear)
        });

    </script>
}